<section class="wrapper-page-home">
  <p class="home-description">
    Comece <span style="color: #e90363">sua</span> jornada rumo à
    <span style="color: #e90363">arte</span>.
  </p>

  <div>
    <img src="images/home-image.svg" alt="Imagem de home" style="width: 100%" />
  </div>

  <div class="buttons-home">
    <button class="button-contact">Contato</button>
    <svg
      width="14"
      height="8"
      viewBox="0 0 14 8"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1L7 7L13 1"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</section>
